/* GroupBegin Global */
body:before {
  content: "768";
}

.show768 {
  display: block;
}

.hide768 {
  display: none;
}

.ui-column-one-quarter.region {
  width: 50%;
  float: left;
  clear: left;
}

.ui-column-one-third.region {
  width: 50%;
  float: left;
}

.ui-column-two-thirds.region {
  width: 50%;
  float: left;
}

.region.right {
  float: left;
}

.region.clearleft {
  clear: none;
}

/* GroupEnd */
.nav-section .cs-button-section {
  display: none;
}

.content-wrap {
  padding: 0 35px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#rs-menu-btn {
  height: 100%;
  padding: 0 50px 0 15px;
  z-index: 10;
}
#rs-menu-btn::before {
  background: transparent;
}
#rs-menu-btn span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Sarabun", sans-serif;
  font-size: 1.0625rem;
  padding: 0 10px 0 1px;
}

#gb-header-mobile {
  height: 100%;
  background: #00365B;
  -webkit-clip-path: polygon(0 0, 100% 0%, 76% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 76% 100%, 0% 100%);
}

.main-header .content-wrap {
  padding: 0 12px;
}
.main-header.sub {
  background: #fff;
}

.mystartbar .content-wrap {
  padding: 0 5px 0 0;
}

.nav-side.white {
  padding-right: 4px;
  padding-left: 8px;
}
.nav-side.white::before {
  -webkit-clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
}

.float-nav-wrap {
  position: relative;
  padding: 5px 0;
  z-index: 2;
}

.header-logo {
  margin-top: 0;
  margin-left: 0;
  position: relative;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
}
.header-logo.sub {
  margin: 0;
}
.header-logo.sub #gb-logo {
  margin: 0;
}
.header-logo.sub #gb-sitename {
  margin: 0;
  padding: 0;
}
.header-logo #gb-logo img {
  width: 160px;
  height: 124px;
}
.header-logo #gb-sitename {
  margin: 0;
  padding: 0;
  -webkit-transform: none;
          transform: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header-logo #gb-sitename h1 {
  -webkit-transform: none;
          transform: none;
}

.search-selector .search-icon::before {
  font-size: 22px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp-row.two {
  background: #fff;
}
.hp-row.two .content-wrap::before {
  display: none;
}
.hp-row.three {
  padding-top: 42px;
  padding-bottom: 30px;
}
.hp-row.four {
  padding-top: 36px;
  padding-bottom: 25px;
}
.hp-row.four .content-wrap {
  display: block;
}
.hp-row.four .hp-column.one {
  width: auto;
  padding-right: 0;
}
.hp-row.four .hp-column.two {
  width: auto;
  padding-left: 0;
}
.hp-row.four .hp-column.two.exists::before {
  display: none;
}
.hp-row.five .tagline {
  font-size: 2.1875rem;
  padding: 35px 54px;
  margin: 0;
  line-height: 41px;
}
.hp-row.seven {
  padding-bottom: 20px;
}
.hp-row.seven .content-wrap {
  padding: 0 40px;
}

/* MMG AREA*/
#hp-slideshow {
  overflow: hidden;
}
#hp-slideshow .mmg-description-outer {
  padding: 19px 39px 6px;
  border-radius: 0;
}
#hp-slideshow .mmg-description-wrapper {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  width: auto;
  max-width: none;
}
#hp-slideshow .mmg-description {
  display: inline-block;
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 0;
  text-align: left;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}
#hp-slideshow .mmg-description-caption {
  margin-bottom: 12px;
  margin-top: -6px;
}
#hp-slideshow .mmg-description-links {
  left: auto;
  top: -56px;
  bottom: auto;
  right: calc(12% - 77px);
}
#hp-slideshow .mmg-controls {
  top: -57px;
  bottom: auto;
  left: 30px;
  right: auto;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp [data-region=b] .ui-widget.app.upcomingevents .ui-widget-detail .ui-articles li {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}
.hp [data-region=b] .ui-widget.app.upcomingevents .ui-widget-detail .ui-articles li:nth-child(n+4) {
  display: none;
}
.hp [data-region=c] .ui-widget.app .ui-widget-header {
  padding-bottom: 4px;
}
.hp [data-region=d] div.ui-widget.app.navigation li a::before, .hp [data-region=d] div.ui-widget.app.navigation li a::after {
  display: none;
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ---------------------- ### MMG COLLAGE ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#mmg-photo-grid .mmg-slide .mmg-description-wrapper {
  display: none;
}
#mmg-photo-grid .mmg-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: auto;
  left: auto;
  bottom: -10px;
  right: calc(50% - 90px);
}
#mmg-photo-grid .mmg-controls .mmg-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 45px;
  width: 45px;
  margin: 0 6px;
  background: none;
}
#mmg-photo-grid .mmg-controls .mmg-control::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: darkblue;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#mmg-photo-grid .mmg-controls .mmg-control::after {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#mmg-photo-grid .mmg-controls .mmg-control:hover::before, #mmg-photo-grid .mmg-controls .mmg-control:focus::before {
  background: #4567AA;
}
#mmg-photo-grid .mmg-controls .mmg-control:hover::after, #mmg-photo-grid .mmg-controls .mmg-control:focus::after {
  color: #fff;
}
#mmg-photo-grid .mmg-controls .mmg-control.back::after {
  content: "\e900";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#mmg-photo-grid .mmg-controls .mmg-control.back:hover::before, #mmg-photo-grid .mmg-controls .mmg-control.back:focus::before {
  background: #4567AA;
}
#mmg-photo-grid .mmg-controls .mmg-control.back:hover::after, #mmg-photo-grid .mmg-controls .mmg-control.back:focus::after {
  color: #fff;
}
#mmg-photo-grid .mmg-controls .mmg-control.play-pause {
  top: auto;
  left: auto;
}
#mmg-photo-grid .mmg-controls .mmg-control.play-pause::before {
  border-radius: 10%;
}
#mmg-photo-grid .mmg-controls .mmg-control.play-pause.playing::after {
  content: "\e90b";
}
#mmg-photo-grid .mmg-controls .mmg-control.play-pause.paused::after {
  content: "\e91a";
}
#mmg-photo-grid .mmg-controls .mmg-control.next::after {
  content: "\e918";
}
#mmg-photo-grid .mmg-controls .mmg-control.play-pause span {
  display: none;
}
#mmg-photo-grid .mmg-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
#mmg-photo-grid .mmg-description-wrapper {
  padding: 30px;
}
#mmg-photo-grid .mmg-description-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #122F4B;
  line-height: 30px;
}
#mmg-photo-grid .mmg-description-caption {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: 24px;
  color: #122F4B;
  line-height: 26px;
  padding: 5px 0px;
}
#mmg-photo-grid .mmg-description-links {
  position: relative;
}
#mmg-photo-grid .mmg-description-links .mmg-description-link {
  position: relative;
  padding: 10px;
  color: #424242;
  border: 1px solid transparent;
  padding: 12px 24px 12px 0px;
  margin: 0;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  max-width: 150px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#mmg-photo-grid .mmg-description-links .mmg-description-link::before {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e918";
  font-size: 12px;
  padding-right: 10px;
}
#mmg-photo-grid .mmg-description-links a:nth-child(2) {
  margin-left: 5px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupBegin Subpage */
#sp-content {
  display: block;
}

.sp-column.one,
.sp-column.two {
  min-height: 0px;
  float: none;
  width: 100%;
  padding: 0;
}

#sp-breadcrumbs {
  padding: 0 43px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sp-column.one .ui-widget.app div.ui-widget-header {
  padding: 15px 20px;
  background: #F7F7F7;
  border: solid 1px #cccccc;
  border-radius: 4px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1 {
  position: relative;
  padding-right: 25px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1::before {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e90e";
  position: absolute;
  font-size: 16px;
  right: 0;
  top: 14px;
  color: #262626;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sp-column.one .ui-widget.app.open > div.ui-widget-header h1::before {
  content: "\e909";
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.sp-column.one .ui-widget.app div.ui-widget-detail {
  padding-bottom: 35px;
}

.sp-column.two {
  width: calc(100% + 42px);
  margin-left: -42px;
  padding-top: 35px;
}

div.ui-widget.app.pagenavigation {
  padding: 0;
}

/* GroupEnd */
/* GroupBegin Subpage No Nav */
#spn-content {
  min-height: 0px;
}

/* GroupEnd */
div.ui-widget.app.content-accordion .ui-widget-header h1 {
  margin-right: 30px;
}

div.ui-widget.app.content-accordion .ui-widget-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.ui-widget.app.content-accordion .ui-widget-header .content-accordion-toolbar {
  margin-left: 23px;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.footer-row.one .footer-column.one {
  display: block;
  width: 100%;
}
.footer-row.one .footer-column.one::before {
  display: none;
}
.footer-row.one .footer-column.two {
  display: none;
}
.footer-row.one .footer-inner-column-wrapper {
  padding: 4px 0 7px;
}
.footer-row.two {
  padding-top: 5px;
}
.footer-row.two .footer-column .one {
  margin-top: 0;
}
.footer-row.two .content-wrap {
  display: block;
}

.footer-row.one .footer-inner-column-wrapper .inner-column {
  padding: 30px 0 20px;
}

.footer-row.two .footer-column.two {
  padding: 0;
}

.info-wrap .contact {
  padding-left: 26px;
}

.info-wrap:last-child::before {
  left: -41px;
}

#sitemap {
  padding-bottom: 5px;
  padding-left: 12px;
}

.sitemap-selector {
  font-size: 0.9375rem;
}

#disclaimer-row p {
  line-height: 22px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-icons {
  padding: 13px 5px;
}
#gb-icons .cs-global-icons li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* -------------------------- ### SPOTLIGHT ### --------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.spotlight-wrapper {
  display: block;
  padding-top: 50px;
}
.spotlight-wrapper::before {
  left: 20px;
  background-size: contain;
  background-position: initial;
}

#spotlight-interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.spotlight-header {
  padding-bottom: 5px;
}

.spotlight-tabs {
  padding-right: 0;
}
.spotlight-tabs .tablink {
  display: none;
}

.spotlight-feature-header {
  margin-bottom: 0;
}

.spotlight-container {
  margin-top: 0;
  padding-right: 0;
}

.spotlight-paragraph {
  margin-right: 0;
}

.spotlight-tagline {
  -webkit-transform: initial;
          transform: initial;
  border: none;
  margin-top: 0;
  padding: 0;
  padding-top: 15px;
}
.spotlight-tagline h2 {
  font-size: 1.3125rem;
}
.spotlight-tagline p {
  font-size: 1rem;
}
.spotlight-tagline::before {
  display: none;
}
.spotlight-tagline .spotlight-inner-wrap {
  -webkit-transform: initial;
          transform: initial;
}
.spotlight-tagline .spotlight-inner-wrap .mobile-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  text-align: left;
  margin-bottom: 38px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #D1AC37;
  font-size: 1.6875rem;
  text-transform: capitalize;
}
.spotlight-tagline .spotlight-inner-wrap .mobile-heading::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  height: 2.5px;
  background: #D1AC37;
  margin-left: 15px;
}
.spotlight-tagline .spotlight-inner-wrap .mobile-heading::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  left: auto;
  top: calc(50% - 11px);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background: #fff;
  border: 3px solid #D1AC37;
}

.spotlight-img {
  width: 94px;
  height: 94px;
}
.spotlight-img::before {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.cs-ig-nav-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cs-ig-nav-controls .cs-ig-nav-control.next {
  margin-left: 10px;
}

/* GroupEnd */