<div id="gb-page" class="sp spn [$SiteAlias$]">

	<!-- BODY OF SEARCH-->
	<div class="content-wrap">
		<div id="search-form-wrapper">
			<form id="gb-search-form" aria-hidden="false">
				<label for="gb-search-input" class="hidden">Search...</label>		
				<input type="text" id="gb-search-input" class="gb-search-input" value="Search..." />
				<button type="submit" id="gb-search-submit" aria-label="Submit the search input"></button>
			</form>
		</div>
	</div>

    <header id="gb-header">
		<div class="sub-header">
			<!--MYSTARTBAR-->
			<div class="mystartbar">
				<div class="content-wrap flex-cont ai-c jc-sb">
					<div id="gb-header-mobile" class="hide1024 show768"></div>
					<div class="nav-section left show1024 hide768">
						<!--TRANSLATE-->
						<div id="gb-translate" class="custom-dropdown flex-cont jc-fs ai-c">
							<button class="translate-selector flex-cont ai-c" aria-controls="translate-dropdown" aria-expanded="false" aria-haspopup="true">
								<div class="translate icon-button"></div>
								<span class="button-text">Translate</span>
							</button>
							<div id="translate-dropdown" class="dropdown" aria-hidden="true"></div>
						</div>

						<!--LANGUAGE BUTTONS-->
						<button class="lang-btn" role="button" aria-label="language 1 button">
							<span>Language 1</span>
						</button>
						<button class="lang-btn" role="button" aria-label="language 2 button">
							<span>Language 2</span>
						</button>
						<button class="lang-btn" role="button" aria-label="language 3 button">
							<span>Language 3</span>
						</button>
						<button class="lang-btn" role="button" aria-label="language 4 button">
							<span>Language 4</span>
						</button>
						<button class="lang-btn" role="button" aria-label="language 5 button">
							<span>Language 5</span>
						</button>

					</div>
					<div class="nav-section right">
						<!--SCHOOLS-->
						<div id="cs-schools" class="custom-dropdown nav-item">
							<button class="mystart-selector flex-cont ai-c" aria-controls="Our Schools" aria-expanded="false">
								<div class="school icon-button"></div>
								<span class="button-text">Our Schools</span>
							</button>
							<div id="school-dropdown" class="dropdown" aria-hidden="true"></div>
						</div>
	
						<!--USER OPTIONS-->
						<div class="cs-mystart-dropdown user-options nav-item show1024 hide768">
							<button class="mystart-selector flex-cont ai-c" tabindex="0" aria-label='Sign In' role="button" aria-expanded="false" aria-haspopup="true">
								<div class="user-options icon-button"></div>
								<span class="button-text">Sign In</span>
							</button>
							<div class="cs-dropdown" aria-hidden="true" style="display:none;">
								<ul class="cs-dropdown-list"></ul>
							</div>
						</div>					
						<div class="nav-side white flex-cont ai-c">
							<!--BANK OF LINKS-->
							<div id="cs-bank" class="custom-dropdown">
								<button class="mystart-selector" role="button" aria-label="I would like to" aria-expanded="false">
									<span>I would like to...</span>
								</button>
								<div id="bank-dropdown" class="dropdown" aria-hidden="true">
									<ul id="bank-list"></ul>
								</div>
							</div>
	
							<!--SEARCH-->
							<div id="search-wrapper" class="flex-cont ai-c">
								<button type="button" class="search-selector flex-cont jc-c ai-c" aria-controls="open search bar" aria-expanded="false" aria-haspopup="true" aria-label="Open Search Bar">
									<div class="search-icon"></div>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-header sub">
			<div class="content-wrap">
				
				<div id="gb-channel-bar" class="sub show1024 hide768" title="main navigation">
					<nav id="gb-channel-list" class="flex-cont jc-c ai-c">
						[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
					</nav>
					
					<div class="header-logo sub flex-cont jc-fs ai-c">
						<div id="gb-logo" class="logo-container" data-toggle='<SWCtrl controlname="Custom" props="Name:showSchoolLogo" />'></div>
						<div id="gb-sitename" class="sitename-container" data-toggle='<SWCtrl controlname="Custom" props="Name:showSchoolName" />'>
							<h1>
								<span><SWCtrl controlname="Custom" props="Name:schoolnameLineOne" /></span>
								<br>
								<span class="school-tagline"><SWCtrl controlname="Custom" props="Name:schoolnameLineTwo" /></span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>

    <main id="sp-content-outer">
        <nav id="sp-breadcrumbs" class=" flex-cont jc-fe">
            <span class="noprint">[$Breadcrumb props="MaxLevels:4"$]</span>
        </nav>
        
        <section id="sp-content" class="content-wrap flex-cont">
            
            <div class="sp-column two">
                [$ContentLayoutPlaceholder$]
            </div>

        </section>

		<section class="icon-row">
            <div class="content-wrap">
                <div id="gb-icons"></div>
            </div>
        </section>
    </main>

	<footer id="gb-footer">
		<div class="footer-row one">
			<div class="content-wrap flex-cont jc-fs">
				<div class="footer-column one">
					<div class="footer-inner-column-wrapper">
						<div class="inner-column one">
							<h2>[$SiteName$]</h2>
						</div>
						<div class="inner-column two flex-cont jc-sb">
							<div class="info-wrap flex-cont ai-c">
								<h3 class="footer-info-header visit">Visit Us</h3>
								<p>
									<span>[$SiteAddressOne$]<br></span>
									<span>[$SiteCity$], [$SiteState$] [$SiteZip$]</span>
								</p>
							</div>
							<div class="info-wrap flex-cont ai-c">
								<h3 class="footer-info-header contact">Contact Us</h3>
								<div class="footer-info-wrapper">
									<p>
										<span>[$SiteContactPhone$]</span>
										<span>[$SiteContactFax$]</span>
									</p>
								</div>
							</div>
						</div>
						<div class="inner-column three flex-cont jc-sb ai-c">
							<h3 class="footer-info-header socials">Connect with Us</h3>
							<div id="gb-socials" class="flex-cont"></div>
						</div>
					</div>
				</div>
				<div class="footer-column two">
					<div class="map-wrapper">
						<iframe tabindex="-1" title="Google Map" frameborder="0" width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?q=[$SiteAddressOne$] [$SiteCity$] [$SiteState$] [$SiteZip$]&amp;zoom=17&amp;key=AIzaSyCpnvqQ2kYwxbdiPGLDp5h8qqTsw_iHeYE"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-row two">
			<div class="content-wrap flex-cont ai-fs">
				<div class="footer-column one">
					<div id="sitemap" class="custom-dropdown">
						<a class="sitemap-selector" role="button" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
							<span>Site Map</span>
						</a>
					</div>
				</div>
				<div class="footer-column two">
					<div id="disclaimer-row">
						<p data-toggle="<SWCtrl controlname="Custom" props="Name:showFooterDisclaimer" />"><SWCtrl controlname="Custom" props="Name:footerDisclaimer" /></p>
					</div>
				</div>
			</div>
		</div>
    </footer>

</div>
