<div id="gb-page" class="sp spn mv [$SiteAlias$]">
	<header class="noprint">
    	<section id="gb-mystart-outer" class="gb-section-parent gb-section-pad">
            <div id="gb-mystart" class="gb-section flex flex-justify-space">
            	<div id="gb-mystart-left" class="flex flex-items-center">
                    <div class="cs-mystart-dropdown schools">
                        <div class="cs-selector flex flex-items-center" aria-haspopup="true" aria-controls="cs-schools-list" tabindex="0" aria-label="Our Schools" role="button" aria-expanded="false"><span class="cs-icon-font cs-icon-arrow"></span><span> Our Schools</span></div>
                        <div class="cs-dropdown" aria-hidden="true" style="display: none;" id="cs-schools-list">
                            <ul class="cs-dropdown-list cs-html-list-reset"></ul>
                        </div>
                    </div>
                    <div class="cs-mystart-dropdown translate">
                        <div class="cs-selector flex flex-items-center" aria-haspopup="true" aria-controls="cs-translate-list" tabindex="0" aria-label="Choose Language" role="button" aria-expanded="false"><span class="cs-icon-font cs-icon-arrow"></span><span> Choose Language</span></div>
                        <div class="cs-dropdown" aria-hidden="true" style="display: none;" id="cs-translate-list"></div>
                    </div>
                </div>
                <div id="gb-mystart-right" class="flex flex-justify-end flex-items-center">
                 	<div class="cs-mystart-item district-home flex flex-items-center"><a href="/page/1">District Home</a></div>
                    <div class="cs-mystart-dropdown user-options">
                        <div class="cs-selector flex flex-items-center" aria-haspopup="true" aria-controls="cs-user-options-list" tabindex="0" aria-label="User Options" role="button" aria-expanded="false"><span class="cs-icon-font cs-icon-arrow"></span><span> User Options</span></div>
                        <div class="cs-dropdown" aria-hidden="true" style="display: none;" id="cs-user-options-list">
                            <ul class="cs-dropdown-list cs-html-list-reset"></ul>
                        </div>
                    </div> 
                    <form id="gb-search-form" class="ui-clear hide768">
                        <label for="gb-search-input" class="acc-hidden">Search this site</label>
                        <input type="text" id="gb-search-input" class="cs-html-input-reset border-box" value="Search..." />
                        <button id="gb-search-btn" class="cs-html-btn-reset" aria-label="Search this site" aria-controls="gb-search-input"><span class="cs-icon-font cs-icon-search"></span></button>
                    </form>
                </div>
            </div>
        </section>
		<section id="gb-header-outer" class="gb-section-parent gb-section-pad">
			<div id="gb-header" class="gb-section">
            	<div class="gb-header one">
                    <div id="gb-logo"></div>
                    <div id="gb-sitename"></div>
                </div>
            	<div class="gb-header two"></div>                
			</div>
		</section>
	</header>
	<nav class="noprint">
		<section id="gb-channel-list-outer" class="gb-section-parent gb-section-pad">
			<div id="gb-channel-list" class="gb-section">
				[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
			</div>
		</section>
	</nav>
    <section id="gb-global-icons-outer" class="gb-section-parent gb-section-padding">
        <div id="gb-global-icons" class="gb-section"></div>
    </section>
	<main>
		<section id="spn-content-outer" class="gb-section-parent gb-section-pad">
			<div id="spn-content" class="gb-section border-box ui-clear">
				<div id="sp-breadcrumbs" class="noprint">[$Breadcrumb props="MaxLevels:3"$]</div>
				[$ContentLayoutPlaceholder$]
			</div>
		</section>
	</main>
    <section id="gb-social-media-icons-outer" class="gb-section-parent gb-section-padding noprint">
        <div id="gb-social-media-icons" class="gb-section"></div>
    </section>
	<footer class="noprint">
		<section id="gb-footer-outer" class="gb-section-parent gb-section-padding">
			<div id="gb-footer" class="gb-section">
				<div class="gb-footer one">
					<p>[$SiteAddressOne$]</p>	
					<p>[$SiteCity$], [$SiteState$] [$SiteZip$]</p>	
				</div>
				<div class="gb-footer two">
					<p class="gb-phone" data-phone="[$SiteContactPhone$]">
                    	<a href="tel:[$SiteContactPhone$]">
                        	<span class="acc-hidden">Phone:</span>
                            <strong aria-hidden="true">P</strong>: [$SiteContactPhone$]
                        </a>
                    </p>
					<p class="gb-fax" data-fax="[$SiteContactFax$]">
                        <span class="acc-hidden">Fax:</span>
                        <strong aria-hidden="true">F</strong>: [$SiteContactFax$]
                    </p>
                    <div class="cs-sitemap">
                        <a href="/site/Default.aspx?PageType=15&amp;SiteID=[$SiteID$]&amp;SectionMax=15&amp;DirectoryType=6">
                            <span class="cs-icon-font cs-icon-sitemap"></span>
                            <span class="acc-hidden">Site Map</span>
                        </a>
                    </div>
				</div>
			</div>
		</section>
		<section id="gb-legal-footer-outer" class="gb-section-parent gb-section-padding">
            <div id="gb-legal-footer" class="gb-section">
                <div class="gb-legal-logo"></div>
                <div id="gb-legal-footer-links-copyright">
                    <div class="gb-legal-footer links"></div>
                    <div class="gb-legal-footer copyright"></div>
                </div>
            </div>
        </section>
	</footer>
</div>