/* GroupBegin Fonts */

/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Global */
body:before {
	content: "768";
}
/* GroupEnd */

/* GroupBegin Mystart */

/* GroupEnd */

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Channel Bar */

/* GroupEnd */

/* GroupBegin Slideshow */

/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */

/* GroupEnd */

/* GroupBegin Global Icons */

/* GroupEnd */

/* GroupBegin Social Icons */

/* GroupEnd */

/* GroupBegin App Styles */

/* GroupEnd */

/* GroupBegin Navigation Styles */
div#sw-channel-list-container {
	display: none;
}
/* GroupEnd */

/* GroupBegin Mod Events */

/* GroupEnd */

/* GroupBegin Region Colors */

/* GroupEnd */

/* GroupBegin High Contrast Colors */

/* GroupEnd */

/* GroupBegin Homepage Specific */

/* GroupEnd */

/* GroupBegin Subpage Specific */
.sp-column.one {
	width: auto;
	float: none;
    min-height: 0px;
}
.sp-column.two {
	width: auto;
	float: none;
    min-height: 0px;
}
/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */
#spn-content {
	min-height: 0px;
}
/* GroupEnd */
