@import "../../../utilities/css/utilities";

$accentFont: 'Sarabun', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Default */
body:before {
	content: "320";
}
.show320 {
	display: block;
}
.hide320 {
	display: none;
}
/* GroupEnd */	
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */