@import "../../../utilities/css/utilities";

$accentFont: 'Sarabun', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
.content-wrap {
	padding: 0 25px;
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#rs-menu-btn {
	padding: 0 32px 0 0px;

	&::before {
		padding: 14px 12px;
	}
	span {
		font-size: 0.875rem;
		padding: 0 10px 0 0px;
	}
}
#gb-header-mobile {
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}
.mystartbar {
	height: auto;
}
.main-header {
	.content-wrap {
		padding: 10px 4px;
	}
}
.float-nav-wrap {
	padding: 0;
}
.nav-section {
	&.right {
		display: none;
	}
}
.header-logo {
	#gb-logo img {
		width: 90px;
		height: 70px;
	}
	#gb-sitename {
		h1 {
			span {
				font-size: 1.875rem;
			}
			.school-tagline {
				font-size: 0.875rem;
			}
		}
	}
} 
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp-row {
	&.two {
		.content-wrap {
			padding: 0 25px;
		}
	}
	&.three {
		padding-top: 30px;
		padding-bottom: 10px;
	}
	&.four {
		padding-top: 25px;

		div.ui-widget.app .ui-widget-header h1 {
			font-size: 1.5625rem;
		}
		div.ui-article p {
			font-size: 0.875rem;
		}
	}
	&.five {
		min-height: auto;

		.background-text {
			display: none;
		}
		.tagline {
			font-size: 1.375rem;
			padding: 15px 10px;
			line-height: 28px;
		}

	} 
	&.seven {
		padding-top: 20px;
		ç
		.content-wrap {
			padding: 0 25px;
		}
	}
}

#hp-slideshow {
	.mmg-description-title {
		font-size: 1.25rem;
	}
	.mmg-description-caption {
		font-size: 0.875rem;
		margin-bottom: 5px;
	}
	.mmg-description-links {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;		
		float: right;
		display: flex;
    	flex-direction: column;

		.mmg-description-link {
			font-size: 0.875rem;
			margin-right: 15px;
			padding: 12px 18px 12px 41px;

			&::after {
				left: 19px;
			}
		}

		a:nth-child(2) {
			margin-left: 0;
			margin-top: 15px;
		}
	}
	.mmg-controls {
		top: -42px;
		left: 4px;

		.mmg-control {
			width: 30px;
			height: 30px;
			margin: 0 5px;

			&::after {
				font-size: 11px;
			}
		}	
	}
	.mmg-description-outer {
		padding: 14px 26px 20px;
	}

}
#hp-slideshow .mmg-container[data-active-slide-title=false][data-active-slide-caption=false][data-active-slide-link=false][data-active-slide-video=false] .mmg-description-outer {
	padding: 0;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp {
	[data-region=b] {
		.ui-widget.app .ui-widget-header {
			display: block;
			padding-bottom: 25px;

			h1 {
				font-size: 1.6875rem;
				margin-bottom: 5px;
			}
		}
		.ui-widget.app .more-link,
		.ui-widget.app .view-calendar-link,
		.ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
			margin-left: 0;
			padding-left: 0;
			
			span {
				margin-left: 20px;
			}

			&::before {
				display: none;
			}
		}

		.ui-widget.app.upcomingevents .ui-widget-detail{
			&::before {
				display: none;
			}
		} 
		.ui-widget.app.upcomingevents .ui-widget-detail .ui-articles {
			display: block;

			&::after {
				display: none;
			}
		}
		.ui-widget.app.upcomingevents .ui-widget-detail .ui-articles li {
			border-top: 1px solid #fff;
			padding: 12px 0 25px 20px;

			&::after {
				display: none;
			}
		}
		.ui-widget.app.upcomingevents .ui-widget-detail .ui-article {
			padding: 0;
		}
		.ui-widget.app.upcomingevents .ui-widget-detail .ui-articles li:nth-child(n+3) {
			display: none;
		}
	}
	[data-region=c] {
		div.ui-widget.app.headlines .ui-article-thumb .img {
			margin: 5px 25px 0 0;
		}
	}
	[data-region=d] {
		.ui-widget.app {
			.ui-widget-header {
				padding-bottom: 15px;
			}
		} 
	} 
	[data-region=e] {
		div.ui-widget.app .ui-widget-header h1 {
			text-align: center;
			font-size: 1.5625rem;
		}
		.ui-widget.app.multimedia-gallery .ui-widget-header {
			padding: 30px 0 20px;
		}
	}
} 
.hp .ui-widget.app.siteshortcuts .ui-widget-detail {
	padding: 0;
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ---------------------- ### MMG COLLAGE ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#mmg-photo-grid {
	.mmg-slide {
		padding: 0;

		.mmg-description-wrapper {
			display: none;
		}
	}
	.mmg-controls {
		bottom: -10px;
		right: calc(50% - 65px);
		top: auto;

		.mmg-control {
			width: 30px;
			height: 30px;
		}
	}
	.mmg-description {
		padding: 0px;
	}
	.mmg-description-wrapper {
		padding: 15px 25px 30px 25px;
	}
	.mmg-description-title,
	.mmg-description-caption,
	.mmg-description-link  {
		font-family: $bodyFont;
		font-size: 1.125rem;
		font-weight: 600;
	}
	.mmg-description-caption {
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 22px;
		margin: 0px;
		margin-right: 55px;
	}
	.mmg-description-links {
		display: flex;
		flex-direction: column;

		.mmg-description-link {
			position: relative;
			padding: 10px;
			color: #122F4B;
			border: 1px solid transparent;
			padding: 10px 20px 5px 18px;
			margin: 0;
			text-decoration: none;
			font-size: 1.025rem;
			max-width: 150px; //wrap if is button too big
			@include transition(0.4s);

			&::before {
				@include template-icon();
				content: icon("e918");
				position: absolute;
				left: 0;
				top: 16px;
				font-size: 11px;
			}

			&:hover,
			&focus {

			}
		}
		a:nth-child(2) {
			margin-left: 0;
		}
	}
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
ul.ui-breadcrumbs {
	flex-wrap: wrap;
	justify-content: flex-start;
}
#sp-content.content-wrap {
	padding-top: 35px;
}
/* GroupEnd */


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* -------------------------- ### SPOTLIGHT ### --------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.spotlight-header h2 {
	font-size: 1.6875rem;
}
.spotlight-paragraph p {
	font-size: 0.9375rem;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.footer-row {
	&.one {
		.footer-inner-column-wrapper {
			padding: 30px 24px 15px;

			&.inner-column {
				&.two {
					display: block;
				}
			}
		}
	} 
	&.two {
		.footer-column {
			&.one {
				margin-top: 0;
			}
		}
	} 
}
.footer-row.one .footer-inner-column-wrapper .inner-column {
	display: block;
}
.footer-row.one .footer-inner-column-wrapper {
	padding: 0;
}
.info-wrap:last-child::before {
	display: none;
}
.footer-row.one .footer-inner-column-wrapper .inner-column h2 {
	font-size: 1.5625rem;
}
.footer-row.one .footer-inner-column-wrapper .inner-column h3 {
	font-size: 1.4375rem;
}
#sitemap,
.info-wrap .contact {
	padding-left: 0;
}
.cs-bb-footer.info p {
	display: block;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-icons .cs-global-icons {
	display: block;
}
#gb-icons .cs-global-icons li {
	border-bottom: none;
	border-right: none;
}
#gb-icons .cs-global-icons li .icon {
    padding: 10px;
	padding-left: 0;
	font-size: 30px;
}
#gb-icons .cs-global-icons li .cs-global-icon {
	display: flex;
    align-items: center;
    flex-direction: row;
	padding: 0;
}
#gb-icons {
	padding: 20px 5px 25px;

	&::before {
		display: none;
	}

}
#gb-icons .cs-global-icons::before {
	display: none;
}
#gb-icons .cs-global-icons li .text {
	font-size: 0.875rem;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-socials {
	flex-wrap: wrap;
    justify-content: space-between;
}
#gb-socials .gb-social-icon {
	flex-basis: 20%;
}
#gb-socials .gb-social-icon .gb-social-icons {
	text-align: left;
}
.icon-row .content-wrap #gb-icons {
	padding: 20px 25px 25px;
}
/* GroupEnd */