@import "../../../utilities/css/utilities";

$accentFont: 'Sarabun', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "768";
}
.show768 {
	display: block;
}
.hide768 {
	display: none;
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float:left;
}
.region.clearleft {
	clear: none;
}
/* GroupEnd */
.nav-section .cs-button-section {
	display: none;
}
.content-wrap {
	padding: 0 35px;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#rs-menu-btn {
	height: 100%;
	padding: 0 50px 0 15px;
	z-index: 10;

	&::before {
		background: transparent;
	}
	span {
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-family: $accentFont;
		font-size: 1.0625rem;
		padding: 0 10px 0 1px;
	}
}
#gb-header-mobile {
	height: 100%; //fill channel bar
	background: <SWCtrl controlname="Custom" props="Name:primaryColor" />;
	clip-path: polygon(0 0, 100% 0%, 76% 100%, 0% 100%);
}
.main-header {
	.content-wrap {
		padding: 0 12px;
	}
	&.sub {
		background: #fff;
	}
}
.mystartbar .content-wrap {
	padding: 0 5px 0 0;
}
.nav-side.white {
	padding-right: 4px;
	padding-left: 8px;

	&::before{
		clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
	}
}
.float-nav-wrap {
	position: relative;
	padding: 5px 0;
	z-index: 2;
}
.header-logo {
	margin-top: 0;
	margin-left: 0;
	position: relative;
	transform: skewX(0deg);

	&.sub {
		margin: 0;

		#gb-logo {
			margin: 0;
		}

		#gb-sitename {
			margin: 0;
			padding: 0;
		}
	}

	#gb-logo {
		img {
			width: 160px;
			height: 124px;
		}
	}

	#gb-sitename {
		margin: 0;
		padding: 0;
		transform: none;
		background: transparent;
		box-shadow: none;

		h1 {
			transform: none;
		}
	}
}
.search-selector .search-icon::before {
	font-size: 22px;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp-row {
	&.two {
		background: #fff;
		.content-wrap {
			&::before {
				display: none;
			}
		}
	}
	&.three {
		padding-top: 42px;
		padding-bottom: 30px;
	}
	&.four {
		padding-top: 36px;
		padding-bottom: 25px;

		.content-wrap {
			display: block;
		}
		.hp-column {
			&.one {
				width: auto;
				padding-right: 0;
			}
			&.two {
				width: auto;
				padding-left: 0;

				&.exists {
					&::before {
						display: none;
					}
				}
			}
		}
	}
	&.five {
		.tagline {
			font-size: 2.1875rem;
			padding: 35px 54px;
			margin: 0;
			line-height: 41px;
		}
	}
	&.seven {
		padding-bottom: 20px;

		.content-wrap {
			padding: 0 40px;
		}
	}
}

/* MMG AREA*/
#hp-slideshow {
	overflow: hidden;

	.mmg-description-outer {
		padding: 19px 39px 6px;
		border-radius: 0;
	} 

	.mmg-description-wrapper {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		width: auto;
		max-width: none;
	}
	.mmg-description {
		display: inline-block;
		position: relative;
		width: 100%;
		max-height: 100%;
		padding: 0;
		text-align: left;
		border-radius: 4px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		opacity: 1;
	}
	.mmg-description-caption {
		margin-bottom: 12px;
		margin-top: -6px;
	}
	.mmg-description-links {
		left: auto;
		top: -56px;
		bottom: auto;
		right: calc(12% - 77px);
	}
	.mmg-controls {
		top: -57px;
		bottom: auto;
		left: 30px;
		right: auto;
	}
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp {
	[data-region='b'] { 
		.ui-widget.app {

			&.upcomingevents {
				.ui-widget-detail {
					.ui-articles {
						li {
							flex-basis: 33.33%;
						}
						li:nth-child(n + 4) {
							display: none;
						} 
					}
				}
			}
		}
	}
	[data-region='c'] {
		.ui-widget.app {
			.ui-widget-header {
				padding-bottom: 4px;
			}
		}
	}
	[data-region='d'] {
		.ui-widget.app {

		}
		div.ui-widget.app.navigation li a {
			&::before,
			&::after {
				display: none;
			}
		}
	}
	[data-region='e'] {
		.ui-widget.app {
			
		}
	}
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ---------------------- ### MMG COLLAGE ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#mmg-photo-grid {
	.mmg-slide {
		.mmg-description-wrapper {
			display: none;
		}
	}
	.mmg-controls {
		display: flex;
		position: absolute;
		top: auto;
		left: auto;
		bottom: -10px;
		right: calc(50% - 90px);

		.mmg-control {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			height: 45px;
			width: 45px;
			margin: 0 6px;
			background: none; //REMOVE SYSTEM SETTINGS

			//FOR GENERAL BACKGROUND
			&::before {
				@include pseudo-background();
				background: darkblue;
				border-radius: 50%;
				box-sizing: border-box;
				box-shadow: 0px 3px 6px #00000029;
				@include transition(0.4s);

			}
			//FOR ICONS
			&::after {
				@include template-icon();
				position: relative;
				color: #fff;
				@include transition(0.4s);
			}

			&:hover,
			&:focus {
				&::before {
					background: #4567AA;
				}
				&::after {
					color: #fff;
				}
			}

			&.back {
				&::after {
					content: icon(e900);
					transform: rotate(90deg);
				}
				&:hover,
				&:focus {
					&::before {
						background: #4567AA;
					}
					&::after {
						color: #fff;
					}
				}
			}
			&.play-pause {
				top: auto;
				left: auto;

				&::before {
					border-radius: 10%;
				}

				&.playing {
					&::after {
						content: icon(e90b);
					}
				}
				&.paused {
					&::after {
						content: icon(e91a);
					}
				}
			}
			&.next {
				&::after {
					content: icon(e918);
				}
			}
			&.play-pause span {
				display: none; //REMOVE SYSTEM SPAN
			}
		}
	}
	.mmg-slide {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.mmg-description-wrapper {
		padding: 30px;
	}
	.mmg-description-title {
		font-family: $bodyFont;
		font-size: 1.625rem;
		font-weight: 700;
		letter-spacing: 0.6px;
		color: #122F4B;
		line-height: 30px;
	}
	.mmg-description-caption {
		font-family: $bodyFont;
		font-size: 1.125rem;
		font-weight: 600;
		letter-spacing: -0.1px;
		line-height: 24px;
		color: #122F4B;
		line-height: 26px;
		padding: 5px 0px;
	}
	.mmg-description-links {
		position: relative;

		.mmg-description-link {
			position: relative;
			padding: 10px;
			color: #424242;
			border: 1px solid transparent;
			padding: 12px 24px 12px 0px;
			margin: 0;
			font-family: $accentFont;
			font-weight: 600;
			text-decoration: none;
			font-size: 1rem;
			max-width: 150px; //wrap if is button too big
			@include transition(0.4s);

			&::before {
				@include template-icon();
				content: icon("e918");
				font-size: 12px;
				padding-right: 10px;
			}

			&:hover,
			&focus {

			}
		}
		a:nth-child(2) {
			margin-left: 5px;
		}
	}
	
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupBegin Subpage */
#sp-content {
	display: block;
}

.sp-column.one,
.sp-column.two {
	min-height: 0px;
	float: none;
	width: 100%;
	padding: 0;
}
#sp-breadcrumbs {
	padding: 0 43px;
	justify-content: flex-start;
}
.sp-column.one .ui-widget.app div.ui-widget-header {
	padding: 15px 20px;
	background: #F7F7F7;
	border: solid 1px #cccccc;
	border-radius: 4px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1 {
	position: relative;
	padding-right: 25px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1 {
	&::before {
		@include template-icon();
		content: icon(e90e);
		position: absolute;
		font-size: 16px;
		right: 0;
		top: 14px;
		color: #262626;
		@include transition(0.4s)
	}
}
.sp-column.one .ui-widget.app.open > div.ui-widget-header h1 {
	&::before {
		content: icon(e909);
		transform: rotate(360deg);
	}
}

.sp-column.one .ui-widget.app div.ui-widget-detail {
	padding-bottom: 35px;
}

.sp-column.two {
	width: calc(100% + 42px);
	margin-left: -42px;
	padding-top: 35px;
}
div.ui-widget.app.pagenavigation {
	padding: 0;
}
/* GroupEnd */

/* GroupBegin Subpage No Nav */
#spn-content {
	min-height: 0px;
}
/* GroupEnd */
div.ui-widget.app.content-accordion .ui-widget-header h1 {
	margin-right: 30px;
}
div.ui-widget.app.content-accordion .ui-widget-header {
	flex-wrap: wrap;
}
div.ui-widget.app.content-accordion .ui-widget-header .content-accordion-toolbar {
	margin-left: 23px;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.footer-row {
	&.one {
		.footer-column {
			&.one {
				display: block;
				width: 100%;

				&::before {
					display: none;
				}
			}
			&.two {
				display: none;
			}
		}
		.footer-inner-column-wrapper {
			padding: 4px 0 7px;
		}
	}
	&.two {
		padding-top: 5px;

		.footer-column {
			.one {
				margin-top: 0;
			}
		}
		.content-wrap {
			display: block;
		}
	}
}
.footer-row.one .footer-inner-column-wrapper .inner-column {
	padding: 30px 0 20px;
}
.footer-row.two .footer-column.two {
	padding: 0;
}
.info-wrap .contact {
	padding-left: 26px;
}
.info-wrap:last-child::before {
	left: -41px;
}
#sitemap {
    padding-bottom: 5px;
	padding-left: 12px;
}
.sitemap-selector {
	font-size: 0.9375rem;
}
#disclaimer-row {
	p {
		line-height: 22px;
	}
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-icons {
	padding: 13px 5px;

	.cs-global-icons {	
		li {
			flex-basis: 25%;
		}
	}
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* -------------------------- ### SPOTLIGHT ### --------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.spotlight-wrapper {
	display: block;
	padding-top: 50px;

	&::before {
		left: 20px;
		background-size: contain;
		background-position: initial;
	}
}
#spotlight-interactive {
	display: flex;
    flex-direction: column;
	margin-top: 25px;
}
.spotlight-header {
	padding-bottom: 5px;
}
.spotlight-tabs {
	padding-right: 0; //remove for nav controls

	.tablink {
		display: none;
	}
}
.spotlight-feature-header {
	margin-bottom: 0;
}
.spotlight-container {
	margin-top: 0;
	padding-right: 0;
}
.spotlight-paragraph {
	margin-right: 0;
}
.spotlight-tagline {
	transform: initial;
	border: none;
	margin-top: 0;
	padding: 0;
	padding-top: 15px;

	h2 {
		font-size: 1.3125rem;
	}
	p {
		font-size: 1rem;
	}

	&::before {
		display: none;
	}

	.spotlight-inner-wrap {
		transform: initial;

		.mobile-heading {
			display: flex;
			margin: 0;
			position: relative;
			flex-direction: row-reverse;
			align-items: center;
			width: 95%;
			text-align: left;
			margin-bottom: 38px;
			font-family: $bodyFont;
			font-weight: 600;
			color: #D1AC37;
			font-size: 1.6875rem;
			text-transform: capitalize;

			&::before {
				@include pseudo-background();
				position: relative;
				width: 100%;
				height: 100%;
				height: 2.5px;
				background: #D1AC37;
				margin-left: 15px;
			}
			&::after {
				@include pseudo-background();
				left: auto;
				top: calc(50% - 11px);
				border-radius: 50%;
				width: 13px;
				height: 13px;
				background: #fff;
				border: 3px solid #D1AC37;
			}
		}
	}
}
.spotlight-img {
	width: 94px;
	height: 94px;

	&::before {
		width: calc(100% + 20px);
  		height: calc(100% + 20px);
	}
}
//NAVIGATION CONTROLS 
.cs-ig-nav-controls {
	display: flex;
	
	.cs-ig-nav-control {		
		&.next {
			margin-left: 10px;
		}
	}
}
/* GroupEnd */