<div class="cs-template cs-template__subpage-no-nav cs-template--subpage [$SiteAlias$]">
	<header class="noprint">
		<section class="cs-template__header-outer cs-template--section-parent cs-template--section-pad">
			<div class="cs-template__header cs-template--section">
				<div class="cs-template__header-section cs-template--section-one">
					<div class="cs-template__logo"></div>
					<div class="cs-template__site-name"></div>
				</div>
				<div class="cs-template__header-section cs-template--section-two">
					<div class="cs-template__search">
						<form class="cs-template__search-form">
							<label for="cs-template__search-input" class="cs-template__search-label cs-template--ally-hidden">Search this site</label>		
							<input type="text" id="cs-template__search-input" class="cs-template__search-input" placeholder="Search this site" />
							<button type="submit" class="cs-template__search-button" aria-label="Submit search"></button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</header>
	<nav class="noprint">
		<section class="cs-template__channel-list-outer cs-template--section-parent cs-template--section-pad">
			<div class="cs-template__channel-list cs-template--section">
				[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
			</div>
		</section>
	</nav>
	<main>
		<section class="cs-template__subpage-no-nav-content-outer cs-template--section-parent cs-template--section-pad">
			<div class="cs-template__subpage-no-nav-content cs-template--section">
				<div class="cs-template__breadcrumbs noprint">
					[$Breadcrumb props="MaxLevels:3"$]
				</div>
				[$ContentLayoutPlaceholder$]
			</div>
		</section>
	</main>
	<footer class="noprint">
		<section class="cs-template__footer-outer cs-template--section-parent cs-template--section-pad">
			<div class="cs-template__footer cs-template--section">
				<div class="cs-template__footer-section cs-template--section-one">
					<p class="cs-template__footer-text">[$SiteAddressOne$]</p>	
					<p class="cs-template__footer-text">[$SiteCity$], [$SiteState$] [$SiteZip$]</p>	
				</div>
				<div class="cs-template__footer-section cs-template--section-two">
					<p class="cs-template__footer-text">[$SiteContactPhone$]</p>
					<p class="cs-template__footer-text">[$SiteContactFax$]</p>
				</div>
			</div>
		</section>
		<section class="cs-template__branded-footer-outer cs-template--section-parent cs-template--section-pad">
            <div class="cs-template__branded-footer cs-template--section">
                <div class="cs-template__branded-footer-logo"></div>
                <div class="cs-template__branded-footer-links-copyright">
                    <div class="cs-template__branded-footer-links cs-template--branded-footer-section"></div>
                    <div class="cs-template__branded-footer-copyright cs-template--branded-footer-section"></div>
                </div>
            </div>
        </section>
	</footer>
</div>